<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="css/bootstrap-edit.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" media="(min-width: 576px)" href="css/media/media-sm.css">
  <link rel="stylesheet" media="(min-width: 768px)" href="css/media/media-md.css">
  <link rel="stylesheet" media="(min-width: 992px)" href="css/media/media-lg.css">
  <link rel="stylesheet" media="(min-width: 1200px)" href="css/media/media-xl.css">
  <link rel="stylesheet" media="(min-width: 1400px)" href="css/media/media-xxl.css">
  <link rel="stylesheet" media="(min-width: 1600px)" href="css/media/media-max.css">

  <link rel="apple-touch-icon" href="200x200.png">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
  <link rel="shortcut icon" href="favicon.png" type="image/png">

  <title>@@title</title>
  <meta name="description" content="Мое описание для SEO">
  <link rel="canonical" href="index.html">
</head>

@@if (classBody !== '') { 
  <body class="@@classBody">
} 
@@if (classBody === ''){
  <body>
}